html {
    font-size: 10px;
}

body {
    font-size: 12px;
}

a[href$=".pdf"],
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".doc"],
a[href$=".docx"],
a[href$=".xls"],
a[href$=".xlsx"],
a[href$=".csv"],
a[href$=".vsd"],
a[href$=".vdw"],
a[href$=".mp3"],
a[href$=".zip"],
a[href$=".rar"],
a[href$=".asx"],
a[href$=".ram"] {
    display: inline !important;
    background-position: right bottom !important;
    background-size: 14px 14px !important;
}

#innerContent ol,
#tier4innerContent ol {
    margin-left: 30px !important;
    margin-bottom: 16px !important;
}

#innerContent li,
#tier4innerContent li {
    line-height: 1.5em !important;
    font-size: 1.1em !important;
    list-style: disc;
}

#innerContent li li,
#tier4innerContent li li {
    font-size: 1em !important;
}

#innerContent li p,
#tier4innerContent li p {
    font-size: 1em !important;
    line-height: 1.5em !important;
    margin-bottom: .4em !important;
}

#innerContent ol.alpha li,
#tier4innerContent ol.alpha li {
    list-style: lower-alpha !important;
}

div.subscribebox {
    float: left;
    width: 100%;
    max-height: 100%;
    padding: 5px 2px;
    margin: -30px 0 0 15px;
}

#homeinnerContent {
    float: none;
}

#homeinnerContent .disclaimer {
    padding: 10px 10px 10px 10px;
    background: #f4f4f4;
    border: 1px solid #e6e6e6;
    font-size: .8em;
}

#homeinnerContent .panes .thumb-left {
    float: left;
    margin: 20px 15px 15px 20px;
    border: #ccc 3px solid;
}

#homeinnerContent .panes>div {
    width: auto;
}

.block {
    display: block;
}

.columnleft {
    float: left;
    width: 45%;
}

.columnright {
    float: right;
    width: 45%;
}

.platform {
    padding-left: 5px;
    font-weight: bold;
}

#mainContentWrapper {
    min-height: 92px;
    background-image: url(https://benefits.va.gov/va_files/2012/images/greyfade.png);
    background-repeat: repeat-x;
    background-position: left top;
    padding: 10px 20px 10px 20px;
}

#innerContent {
    float: none;
    background-image: url(https://benefits.va.gov/va_files/2012/images/greyfade.png);
    background-position: left top;
    background-repeat: repeat-x;
    margin-top: 0;
}

.accordion span,
.sub-menu li>a span {
    padding-top: 7px;
}


.va-crisis-line {
    float: right;
    margin: 0px 5px 10px 0;
}

.va-flex {
    display: -webkit-flex;
    display: flex;
}

button.va-crisis-line-button {
    color: #212121;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 0.4em 26px 0.3em 0;
    width: 100%;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 26px 0 0;

}

button.va-crisis-line-button:hover {
    background-color: #ffffff;
    color: #212121;
}

button.va-crisis-line-button:focus {
    outline: 2px dotted #c30000;
}

button.va-crisis-line-button .vcl {
    content: "";
    background: url(https://www.oit.va.gov/_media/img/vcl-logo.png) no-repeat right 29%;
    background-size: 100%;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0.3em 0.5em -0.3em 0.5em;
}

button.va-crisis-line-button>.va-flex {
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    button.va-crisis-line-button {
        background: #ffffff url(https://www.oit.va.gov/_media/img/uswds/arrow-right.svg) calc(100% - 0.5em) center no-repeat;
        background-size: .8em auto;
        border-radius: 0 0 0.5em 0.5em;
        box-shadow: 0 2px 5px #212121;
        padding: 0 26px 0 0;
        text-align: left;
    }
}